

.navMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3px 30px;
}

.menu {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.menu > li {
  padding: 10px;
}

.myBookshelf {
  font-weight: bold;
}

.itemList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}


.postList > h3 {
  font-size: 16px;
  transform: rotate(-90deg);
}

.postList > div > p {
  font-size: 13px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
